@{
    ViewBag.Title = "GestionAdmin";
}

<html>
<body>
    <br /><br /><br /><br /><br /><br />
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
    <a href="/home/Login" class="btn btn-info" >Gestion de Peliculas</a><br /><br /><br />
    <a href="/home/Login" class="btn btn-info" >Gestion de Sedes</a><br /><br /><br />
    <a href="/home/Login" class="btn btn-info" >Gestion de Carteleras</a><br /><br /><br />
    <a href="/home/Login" class="btn btn-info" >Reporte de Reservas</a><br /><br /><br />
    </div>
    <div class="col-sm-4"></div>
</body>
</html>


