@{
	Layout = "/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Inicio";
}

<div class="panel-de-administracion">
	<a href="~/administrativo/Peliculas" class="col-sm-3 btn btn-info">Gestion de Peliculas</a>
	<a href="~/administrativo/Sedes" class="col-sm-3 btn btn-info">Gestion de Sedes</a>
	<a href="~/administrativo/carteleras" class="col-sm-3 btn btn-info">Gestion de Carteleras</a>
    <a href="~/administrativo/Reportes" class="col-sm-3 btn btn-info">Reporte de Reservas</a>
</div>
