@{
    ViewBag.Title = "ModificarSedeSeleccionada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using TrabajoPractico1._1
@model Sedes
<h2>ModificarSedeSeleccionada</h2>

<form action="~/Administrativo/ModificarSede" method="post" class="form-group form-login">
    <input name="IdSede" value="@Model.IdSede" type="hidden"/>
    <label>Nombre:</label><input name="Nombre" value="@Model.Nombre"/>
    <label>Direccion:</label><input name="Direccion" value="@Model.Direccion"/>
    <label>Precio:</label><input name="PrecioGeneral" value="@Model.PrecioGeneral"/>

    <button type="submit" class="btn btn-info btn-lg btn-block">Modificar Sede</button>
</form> 