@{
	Layout = "/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Login";
}

<form action="/Administrativo/VerificarUsuario" method="post" class="form-group form-login">
	<label>
		<input class="form-control input-lg" type="text" name="NombreUsuario" placeholder="Usuario" />
	</label>
	<label>
		<input class="form-control input-lg" type="text" name="Password" placeholder="Contraseña" />
	</label>
	<button type="submit" class="btn btn-info btn-lg btn-block">Login</button>
</form>