@using TrabajoPractico.Models
@model Pelicula
@{
	Layout = "/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Reservar";
}

<section>
	<h2>Bienvenido al panel de reservas</h2>
	<form action="/home/inicio" method="post" class="row formulario-reservas">
		<!--<input class="form-control input-sm" type="text" name="dni" placeholder="1234"/>
		<input class="form-control input-sm" type="text" name="email" placeholder="mail"/>
		<input type="submit" value="login" class="btn btn-info btn-sm "/>
		<a href="/home/registrar" class="btn btn-info btn-sm" >Registrarse</a>-->
		<label class="caja-input col-sm-6">
			<select class="form-control" name="version">
				<option value="">Elige una versión</option>
				<option value="i">Ingles</option>
				<option value="c">Castellano</option>
			</select>
		</label>

		<label class="caja-input col-sm-6">
			<select class="form-control" name="complejo">
				<option value="">Elige un complejo</option>
				<option value="s">San Justo</option>
				<option value="h">Haedo</option>
				<option value="h">Morón</option>
			</select>
		</label>

		<label class="caja-input col-sm-6">
			<select class="form-control" name="dia">
				<option value="">Elige un dia</option>
				<option value="v">Viernes</option>
				<option value="s">Sabado</option>
				<option value="d">Domingo</option>
			</select>
		</label>

		<label class="caja-input col-sm-6">
			<select class="form-control" name="horario">
				<option value="">Elige un horario</option>
				<option value="q">15:00hs</option>
				<option value="d">17:00hs</option>
				<option value="v">20:hs</option>
			</select>
		</label>

		<button type="submit" class="btn btn-info btn-block">Reservar</button>
	</form>

	<!--
	Nota: habiamos dicho que no teniamos formulario de alta de administrador?

	<form action="~/peliculas/reserva" method="post" class="login-form-registrar">
		<h2>@Model.nombre</h2>
		<label>
			<input type="text" placeholder="Nombre de Usuario" name="NombreUsuario" />
		</label>
		<label>
			<input type="text" placeholder="Contraseña" name="Password" />
		</label>

	<button type="submit" class="btn btn-primary">Grabar usuario admin en la BD</button>
	</form>
	-->
</section>
