* {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	color: black;
	list-style-type: none;
	border: 0px;
	position: relative;
	width: 100%;
}

td {
    font-size: 15px;
}

thead {
	font-weight: bold;
}

.cartelera {
	padding: 10px;
	background-color: red;
	float: left;
}

.info-peli {
  width: 100%;
}

.titulo {
  background-color:whitesmoke;
  padding: 5px;
  text-align: center;
  font-size: 14px;
	font-weight: bold;
  margin-top: 3%;
	margin-bottom: 10px;
}

.clasificacion,
.genero {
	display: inline-block;
}

.clasificacion {
  background-color:whitesmoke;
  width: 28%;
  text-align:center; 
  font-size: medium;    
	margin-right: 2%;
	float: left;
}

.genero {
	background-color: whitesmoke;
	width: 70%;
	position: relative;
	text-align: center;  
	font-size: medium;
}

.reservar {
	background-color:#337ab7;
	text-align:center;
	font-size: medium;
	margin-top: 4.5%;
	position:relative;
	color:whitesmoke;
}

.reservar2 {
	background-color:#337ab7;
	height:30px;
	text-align:center;
	font-size: medium;
	margin-top:4.5%;
	position:relative;
	color:whitesmoke;   
}

.reservar a {
	color: whitesmoke;
}

label select,
label input {
	font-size: 16px;
	font-weight: normal;
	padding: 7px;
	border: solid 1px gray;
}

select::placeholder,
input::placeholder {
	color: gray;
}

ul, li {
	list-style-type: none;
	margin: 0px;
}

main h2 {
	font-weight: bold;
	margin-bottom: 20px;
	font-size: 20px;
}

main h1 {
	font-size: 22px;
	font-weight: bold;
}

header {
	padding: 1%;
	background-color: #337ab7;
	box-shadow: 1px 1px 1px 1px #c2c2c2;
}

.login-button {
	float: right !important;
}

main {
	width: 100%;
	max-width: 1024px;
	margin: 20px auto;
}

.listado-cartelera {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.cartelera {
	width: calc(25% - 20px);
	margin: 10px;
}

.form-login {
	width: 100%;
	max-width: 500px;
  display: block;
  margin: 30px auto;
	padding: 40px;

	background: #f7f7f7;
	box-shadow: 1px 1px 1px 1px #c2c2c2;
	border-radius: 20px;
}

.form-login label {
	margin-bottom: 20px;
}

.formulario-reservas {
	width: 100%;
	position: relative;
}

.formulario-reservas .btn-block {
	width: calc(100% - 30px);
	left: 15px;
}

.formulario-reservas label {
	margin-bottom: 20px;
}

.panel-de-administracion {
	display: inline-block;
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
}

.btn-administracion {
	display: inline-block;
	width: calc(25% - 42px);
	margin: 0px 20px;
}

.btn-nueva-pelicula {
	width: 20%;
	margin-top: 20px;
	display: inline-block;
}

.listado-peliculas {
	margin-top: 20px;
}

.input-checkbox {
    display: inline-block;
    width: auto;
    margin-right: 40px;
}

.input-checkbox input[type="checkbox"] {
    display: inline-block;
    margin-left: 15px;
    width: auto;
}

.input-checkbox strong {
    font-size: 16px;
    font-weight: normal;
    padding: 7px 0px;
}

.crear-cartelera-form label {
    width: 48%;
    display: inline-block;
    vertical-align: top;
}

.crear-cartelera-form label:nth-child(even) {
    float: right;
}

.crear-cartelera-form label:last-of-type {
    width: 100%;
    display: block;
}

label {
    margin-bottom: 1.5em!important;
}

.btn-crear-cartelera  {
    width: 30%;
    display: inline-block;
}