<footer>
	<ul>
		<li>Giani, Nahuel Nicolás <strong>38465992</strong></li>
		<li>Muñoz, Fernando Matías <strong>30743985</strong></li>
		<li>Reinoso, Diego Alejandro <strong>24962815</strong></li>
		<li>Acosta, María Florencia <strong>35945643</strong></li>
	</ul>
</footer>