<header class="panel-primary">
	<div class="container-fluid panel-heading row">
		<div class="col-sm-4 logo">
			<a href="~/home/Inicio"><img src="/imagenes/Cinemark2.png" alt="..." /></a>
		</div>
		<div class="col-sm-2 login-button">
      @if (Session["usuarioEnSesion"] == null)
      {
        <a href="/home/Login" class="btn btn-info btn-block">Administrativo</a>
      }
      else
      {
        <a href="/home/cerrarSesion" class="btn btn-info btn-block">Cerrar Sesion</a>
      }
		</div>
	</div>
</header>
@if (Session["usuarioEnSesion"] != null)
{
	@Html.Partial("_menuAdministrativo")
}
