<header class="panel-primary">
	<div class="container-fluid panel-heading row">
		<div class="col-sm-4 logo">
			<img src="/imagenes/Cinemark2.png" alt="..." />
		</div>
		<div class="col-sm-2 login-button">
			<a href="/home/Login" class="btn btn-info btn-block">Administrativo</a>
		</div>
	</div>
</header>

