
<div class="container-fluid panel-de-administracion">
	<a href="~/administrativo/Peliculas" class="btn-administracion btn btn-primary">Gestion de Peliculas</a>
	<a href="~/administrativo/Sedes" class="btn-administracion btn btn-primary">Gestion de Sedes</a>
	<a href="~/administrativo/carteleras" class="btn-administracion btn btn-primary">Gestion de Carteleras</a>
	<a href="~/administrativo/Reportes" class="btn-administracion btn btn-primary">Reporte de Reservas</a>
</div>
